@{
  Layout = "_Layout";
}

<h1>Contact Us!</h1>
<p>For general inquiries or any questions, please click the email below to be redirected to an email provider!</p>
<h4><a href="mailto: isaacoverstreet3@gmail.com?subject=General Contact from PDXBandIndex.com" target="_blank">isaacoverstreet3@gmail.com</a></h4>
<p>Thank you for using this site!</p>