@{
  Layout = "_Layout";
}

@using PDXBandIndex.ViewModels

@model LoginViewModel

<h2>Log In For More Features!</h2>
<hr />
<div class="log-in-div">
  <div class="card log-in-box">
    @using (Html.BeginForm())
    {
      <h4>Email</h4>
      @Html.TextBoxFor(m => m.Email)
      <br>
      <h4>Password</h4>
      @Html.PasswordFor(m => m.Password)
      <br>
      <input type="submit" value="Log in" class="btn btn-default" />
    }
  </div>
</div>