@{
  Layout = "_Layout";
}

@using PDXBandIndex.Models;
@model IEnumerable<PDXBandIndex.Models.Band>

<h1>Bands!</h1>

@if (Model.Any())
{
  <ul>
    @foreach (Band band in Model)
    {
      <li>@Html.ActionLink($"{band.Name}", "Details", new { id = band.BandId })</li>
    }
  </ul>
} 
else
{
  <h3>No bands have been added yet!</h3>
}

<p>@Html.ActionLink("Add new band", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>