@{
  Layout = "_Layout";
}

@using PDXBandIndex.Models;
@model IEnumerable<PDXBandIndex.Models.Band>

<h1>Bands!</h1>
<hr />
<div class="row bands-row">
  @if (Model.Any())
  {
    <div class="rowBands">
        @foreach (Band band in Model)
        { 
          <div class="card bands-cards">
            <p>@Html.ActionLink($"{band.Name}", "Details", new { id = band.BandId })</p>
          </div>
        }
    </div>
  } 
  else
  {
    <h3>No bands have been added yet!</h3>
  }
</div>
@if (User.Identity.Name == "test@test.com")
{
<p>@Html.ActionLink("Add new band", "Create")</p>
}

@* <p>@Html.ActionLink("Home", "Index", "Home")</p> *@