<div id="header">
  <div class="container">
    <div class="row">
      <h2 class="logo-text">PDX Band Index</h2>
      <button class="home-btn">@Html.ActionLink("Home", "Index", "Home")</button>
    </div>
  </div> 
</div> 