

<div id="header">
  <div class="container">
    <div class="row">
      <h2 class="logo-text">PDX Band Index</h2>
      <h5 class="home-btn">@Html.ActionLink("Home", "Index", "Home")</h5>
      @if (User.Identity.IsAuthenticated) {
        <h5 class="log-btn">@Html.ActionLink("Log Out", "Index", "Account")</h5>
      } 
      else
      {
        <h5 class="log-btn">@Html.ActionLink("Log In", "Index", "Account")</h5>
      }
    </div>
  </div> 
</div> 