

<div id="header">
  <div class="container">
    <div class="row">
      <h2 class="logo-text">PDX Band Index</h2>
      <button class="home-btn header-btns">@Html.ActionLink("Home", "Index", "Home")</button>
      @if (User.Identity.IsAuthenticated) {
        <button class="log-btn header-btns">@Html.ActionLink("Log Out", "Index", "Account")</button>
        <button class="log-btn header-btns">@Html.ActionLink("Shows", "Index", "Shows")</button>
      } 
      else
      {
        <button class="log-btn header-btns">@Html.ActionLink("Log In", "Index", "Account")</button>
      }
    </div>
  </div> 
</div> 