.body {
  background-image: linear-gradient(to bottom, grey, white, grey);
  
  background-repeat: no-repeat;
}

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}

div#header {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}

.home-btn {
  padding: 3px;
  
}

.col-md-3, .col-md-4 {
  border: #333 2px solid;
}