body {
  background: linear-gradient(to bottom, rgb(159, 159, 159), white, rgb(161, 161, 161));
  background-image: url(/img/other.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: monospace;
  text-align: center;
}

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}

div#header {
  position: fixed;
  top:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:rgb(0, 0, 0);
  padding:5px;
  z-index: 1;
}

.home-btn {
  margin-left: 10vw;
  margin-top: 8px;
  margin-right: 20px;
}

.header-btns {
  color: blue;
  background: rgb(50, 205, 135);  
  border-radius: 5px;
}

.log-btn {
  /* margin-left: 2vw; */
  margin-top: 8px;
  margin-right: 20px;
}

.col-md-3, .col-md-6 {
  border-left: #333 2px solid;
  border-right: #333 2px solid;
  height: auto;
  text-align: center;
  justify-content: center;
  border-radius: 0px;
}

.col-md-3 {
  padding-top: 25px;
  padding-bottom: auto;
  justify-content: center;
}

.onToday {
  padding-top: 0px;
}

hr {
  height: 2px;
  background-color: rgb(0, 0, 0);
}

/* .middle {
  flex-wrap: wrap;
  height: 415px;
  overflow: hidden;
} */
 
.c1 {
  width: 255px;
  height: 275px;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 19px;
  margin-bottom: 15px;
  margin-top: 15px;
  border: 5px green inset;
  background-image: url("https://i.insider.com/5e45b2783b62b778762710a4?width=700");
  background-size: cover;
  background-repeat: no-repeat;
}

.favCard {
  width: 255px;
  height: 275px;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 19px;
  margin-bottom: 15px;
  margin-top: 15px;
  border: 5px green inset;
  background-image: url("https://images.unsplash.com/photo-1501694159270-7b55f5eb85fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c2hvd3xlbnwwfHwwfHw%3D&w=1000&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20px;
}

.favs {
  overflow: scroll;
  height: 435px;
}

.today-shows {
  padding-top: 35px;
  width: 240px;
  height: 300px;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 1px;
  margin-bottom: 12px;
  border: 5px green inset;
  background-image: url("https://media.istockphoto.com/vectors/concert-crowd-people-silhouettes-hands-with-different-gestures-and-vector-id879125474?k=20&m=879125474&s=612x612&w=0&h=ouBoQF3G9YjLitI-VkS6h-qXSK_xFK_ipH6B9Y3to68=");
  background-size: cover;
  background-repeat: no-repeat;
}

.bands-cards {
  padding-top: 35px;
  width: 250px;
  height: 310px;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 28px;
  margin-bottom: 12px;
  border: 5px green inset;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCTtUcclTOmot2dG8zwxQO03qsBAPWSyW9Uw&usqp=CAU");
  background-size: cover;
  background-repeat: no-repeat;
}

.bands-row, .rowBands {
  /* width: 800px; */
  display: flex;
  flex-wrap: wrap;
}

/* .row {
  flex-wrap: wrap;
} */

.welcome, .allGenres {
  margin-bottom: 20px;
  text-shadow: 2px 2px 2px white;
}

.logo-text {
  text-shadow: 2px 2px 2px black;
}

.c2 {
  background-color: rgba(128, 128, 128, 0.459);
  margin-top: 25px;
  flex-wrap: wrap;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.c3 {
  padding: 5px;
  margin-left: 400px;
  margin-bottom: 5px;
  font-size: 25px;
  color: black;
}

.log-in-box {
  padding: 30px;
  width: 320px;
  margin-left: 36%;
}

.log-in-div {
  border: #333;
}

.genres {
  float: left;
}

.genres{
  border: none;
  padding: 5px;
  width: 200px;
  height: 500px;
  overflow: scroll;
}

.today {
  border: none;
  width: 265px;
  height: 310px;
  overflow: scroll;
}

.upcomingShows {
  border: none;
  height: 415px;
  overflow: scroll;
}

.midCard {
  overflow: scroll;
  height: 325px;
  border: none;
}

.bandshows {
  overflow: scroll;
  height: 375px;
  border: none;
}
  
  /* Scrollbar styles */
  ::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  }
  
  ::-webkit-scrollbar-track {
  /* border: 1px solid rgb(205, 63, 50); */
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
  background: rgb(50, 205, 135);  
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(50, 205, 135);   
  }

.no-genre {
  float: right;
}

.col6 {
  border: none;
}

.col4 {
  border-left: #333 3px solid;
}

.col4right {
  border-right: #333 3px solid;
}

.options {
  background: rgb(50, 205, 135);  
  border-radius: 5px;
}

a {
  color: rgb(0, 0, 0);
  text-shadow: .5px .5px red;
}

.date {
  margin-left: 370px;
}

.myBands {
  border: rgba(255, 0, 0, 0);
  text-align: center;
}

input.check {
  width: 50px;
  height: 50px;
}

.no-fav {
  text-align: center;
}
