@{
  Layout = "_Layout";
}

<h1>Welcome to the PDX Band Index!</h1>
<p>@Html.ActionLink("See all bands", "Index", "Bands")</p> <p>@Html.ActionLink("See all genres", "Index", "Genres")</p>
<p>@Html.ActionLink("See all shows", "Index", "Shows")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>